<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link rel="shortcut icon" href="../img/img.png"> </link>
    <div th:replace="/fragments/header :: header"/>
</head>

<body>
<script type="text/javascript">
    const socket = new SockJS('/websocket');
    stompClient = Stomp.over(socket);
    stompClient.connect({}, function (frame) {
        console.log(frame);
        stompClient.subscribe('/topic/change-price', function (message) {
            alert(message.body)
        });
    });
</script>
<div th:replace="/fragments/header :: navbar"/>

<div class="container">

    <div th:replace="/fragments/events :: products"/>

    <div th:replace="/fragments/pagination :: pagination(URLparameter='/home')"/>

</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>